body {
    background-color: black;
    color: white;
}
h1 {
    text-align: center;
}
p {
    text-align:center ;
}
h2 {
    text-align: center;
}
img {
    width: 400px;
    height: 400px;
  }